# Ignora TODOS os arquivos na pasta target
target/

# Adiciona uma EXCEÇÃO:
# NÃO ignore o arquivo .jar que precisamos para o deploy!
!target/teleconsultas-1.0.0-SNAPSHOT.jar

# ----- O resto do seu arquivo (IntelliJ, Eclipse, etc.) -----
#.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store